* {
    margin: 0px;
    scroll-behavior: smooth;
}

body{
    background-color: #0064FB;
    font-family: 'Baloo 2', cursive;
    text-decoration: none;
    color: #F5F5F5;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a, button{
    width: 120px;
    text-decoration: none;
    color: #0064FB;
    background-color: #F5F5F5;
    border: 1px #0064FB solid;
    transition: .2s all ease-in-out;
    padding: 6px 20px;
    border-radius: 20px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

a:hover, button:hover {
    color: #F5F5F5;
    background-color: #0064FB;
    border: 1px #F5F5F5 solid;
}

h1{
    margin-bottom: 4%;
    line-height: 35px;
}

p{
    font-size: 35px;
    font-weight: bolder;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content > a{
    margin: 10px;
}

input {
    border-radius: 20px;
    border: 2px solid #F5F5F5;
    padding: 4px;
    outline: none;
}

.input-format input{
    text-align: center;
    color: #0064FB;
    font-family: 'Baloo 2', cursive;
    font-weight: 700;
}

.main-form{
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Baloo 2', cursive;
    font-size: 15px;
}

label {
    font-size: 20px;
    font-weight: bolder;
}

.hidden {
    display: none;
}

#texto {
    font-size: 15px;
    font-weight: lighter;
}

#mostrarSenha{
    width: 100%;
    margin-bottom: 5px;
}